body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: rgb(31, 27, 27);
    background-color: rgba(10, 74, 74, 0.381);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input[type="datetime-local"], button {
    margin: 20px;
  }
  
  input[type="datetime-local"] {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    background-color: #e0e0e0;
  }
  
  button {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 0.8em;
    font-family: "Poppins", sans-serif;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #bdbdbd;
  }

  .titleText {
    color: white;
    text-shadow: 0.5px 0.5px 1px rgb(129, 129, 129);
  }
  
  input[type="datetime-local"] {
    font-family: 'Poppins', sans-serif;
  }
  